@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col bg-primary">
        <h1>SaaS</h1>
        <p>
            Software como serviço (SaaS) é um modelo de distribuição de software no qual um provedor de nuvem hospeda aplicativos e os disponibiliza aos usuários finais pela Internet. Neste modelo, um fornecedor de software independente (ISV) pode contratar um provedor de nuvem terceirizado para hospedar o aplicativo. Ou, com empresas maiores, como a Microsoft, o provedor de nuvem também pode ser o fornecedor do software.


        </p>
        <h4>Exemplo: Dropbox, Office386.</h4>
    </div>

    <div class="col bg-success">
        <h1>PaaS</h1>
        <p>
            Plataforma como serviço (PaaS) ou plataforma de aplicativo como serviço (aPaaS) ou serviço baseado em plataforma é uma categoria de serviços de computação em nuvem que permite aos clientes provisionar, instanciar, executar e gerenciar um pacote modular que compreende uma plataforma de computação e um ou mais aplicativos, sem a complexidade de construir e manter a infraestrutura normalmente associada ao desenvolvimento e lançamento do (s) aplicativo (s); e permitir que os desenvolvedores criem, desenvolvam e empacotem esses pacotes de software.

        </p>
        <h4>Exemplos: Google App Engine, Heruko, Azure Apps.</h4>
    </div>

    <div class="col bg-info">
        <h1>LaaS</h1>
        <p>
            Infraestrutura como serviço (IaaS) é um tipo de serviço de computação em nuvem que oferece recursos essenciais de computação, armazenamento e rede sob demanda, com pagamento conforme o uso. IaaS é um dos quatro tipos de serviços em nuvem, junto com software como serviço (SaaS), plataforma como serviço (PaaS) e sem servidor.
        </p>
        <h4>Exemplos: AWS, Google Cloud.</h4>
    </div>

</div>
